@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  color: #4B5563;
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  position: fixed;
}

.roboto {
  font-family: var(--font-roboto);
}

.orbitron {
  font-family: var(--font-orbitron);
}

.red_hat_display {
  font-family: var(--font-red-hat-display);
}

.area {
  position: absolute;
  top: 0;
  height: 0;
  background: #fff;  
  background: -webkit-linear-gradient(to left, #eee, #eee);  
  width: 100%;
  height:100dvh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  box-shadow: inset 10px 10px 10px rgba(0, 0, 0, 0.1), 
    15px 25px 10px rgba(0, 0, 0, 0.1), 
    15px 15px 20px rgba(0, 0, 0, 0.2),
    inset -10px -10px 15px rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  transition: 0.5s;
  animation: animate 25s linear infinite;
  height: 190px;
  width: 189px;
  bottom: -150px;
}

.circles li::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 19px;
  top: 32px;
  left: 31px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.9;
}

.circles li::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 7px;
  background-color: #fff;
  top: 53px;
  left: 52px;
  border-radius: 50%;
  opacity: 0.9;
}

.circles li:nth-child(1) {
  left: 25%;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}
.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}
.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}
.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}
.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}
.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}
.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0%{
      transform: translateY(0);
      opacity: 1;
  }

  100%{
      transform: translateY(-1000px);
      opacity: 0.2;
  }
  100% {
    transform: translateY(-1000px) scale(1);
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #9ca3af77;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: darken(teal, 10%);
  border-radius: 4px;
}

.cilindro-bg {
  background: radial-gradient(ellipse 80% 120% at 50% 60%, #e0f7fa 0%, #c0dbff 60%, #b3e5fc 100%);
  box-shadow: 0 0 80px 20px #b3e5fc55 inset, 0 0 120px 40px #e0f7fa33 inset;
}

.circles li:nth-child(2)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 3.5px;
  top: 3.2px;
  left: 3.1px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.circles li:nth-child(2)::after {
  content: "";
  position: absolute;
  width: 1.8px;
  height: 1.4px;
  background-color: #fff;
  top: 5.3px;
  left: 5.2px;
  border-radius: 50%;
  opacity: 0.9;
}

.circles li:nth-child(3)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 3.5px;
  top: 3.2px;
  left: 3.1px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.circles li:nth-child(3)::after {
  content: "";
  position: absolute;
  width: 1.8px;
  height: 1.4px;
  background-color: #fff;
  top: 5.3px;
  left: 5.2px;
  border-radius: 50%;
  opacity: 0.9;
}

.circles li:nth-child(4)::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 10.5px;
  top: 9.6px;
  left: 9.3px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.circles li:nth-child(4)::after {
  content: "";
  position: absolute;
  width: 5.4px;
  height: 4.2px;
  background-color: #fff;
  top: 18.9px;
  left: 18.6px;
  border-radius: 50%;
  opacity: 0.9;
}

.circles li:nth-child(5)::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 3.5px;
  top: 3.2px;
  left: 3.1px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.circles li:nth-child(5)::after {
  content: "";
  position: absolute;
  width: 1.8px;
  height: 1.4px;
  background-color: #fff;
  top: 5.3px;
  left: 5.2px;
  border-radius: 50%;
  opacity: 0.9;
}

.circles li:nth-child(6)::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 18.5px;
  top: 17.6px;
  left: 17.05px;
  border-radius: 50%;
  opacity: 0.9;
}
.circles li:nth-child(6)::after {
  content: "";
  position: absolute;
  width: 6.9px;
  height: 5.7px;
  top: 35.15px;
  left: 34.6px;
  border-radius: 50%;
  opacity: 0.9;
}

.circles li:nth-child(7)::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 22.5px;
  top: 24px;
  left: 23.25px;
  border-radius: 50%;
  opacity: 0.9;
}
.circles li:nth-child(7)::after {
  content: "";
  position: absolute;
  width: 10.5px;
  height: 9.5px;
  top: 39px;
  left: 38px;
  border-radius: 50%;
  opacity: 0.9;
}

.circles li:nth-child(8)::before {
  content: "";
  position: absolute;
  width: 5.5px;
  height: 4.75px;
  top: 4px;
  left: 3.87px;
  background-color: #ff0;
  border-radius: 50%;
  opacity: 0.9;
}
.circles li:nth-child(8)::after {
  content: "";
  position: absolute;
  width: 2.25px;
  height: 1.75px;
  background-color: #fff;
  top: 6.625px;
  left: 6.5px;
  border-radius: 50%;
  opacity: 0.9;
}

.circles li:nth-child(9)::before {
  content: "";
  position: absolute;
  width: 3.3px;
  height: 2.85px;
  top: 2.4px;
  left: 2.325px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.circles li:nth-child(9)::after {
  content: "";
  position: absolute;
  width: 1.35px;
  height: 1.05px;
  background-color: #fff;
  top: 3.975px;
  left: 3.9px;
  border-radius: 50%;
  opacity: 0.9;
}

.circles li:nth-child(10)::before {
  content: "";
  position: absolute;
  width: 33px;
  height: 28.5px;
  top: 24px;
  left: 23.25px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.9;
}
.circles li:nth-child(10)::after {
  content: "";
  position: absolute;
  width: 13.5px;
  height: 10.5px;
  background-color: #fff;
  top: 40px;
  left: 39px;
  border-radius: 50%;
  opacity: 0.9;
}